{% extends 'base.html.twig' %}

{% block body %}
    <h1>Testss list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>User</th>
                <th>Description</th>
                <th>Actionss</th>
            </tr>
        </thead>
        <tbody>
        {% for test in tests %}
            <tr>
                <td><a href="{{ path('test_show', { 'id': test.id }) }}">{{ test.id }}</a></td>
                <td>{{ test.title }}</td>
                <td>{{ test.user }}</td>
                <td>{{ test.description }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('test_show', { 'id': test.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
